<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amita.safecracker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".BlurredActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity

            android:name=".SocialActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_social"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name=".Instructions"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name=".Instructions2"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name=".Instructions3"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name=".Instructions4"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name=".Instructions5"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_store" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb122839281394596"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider122839281394596"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d45b8be8039174a79e9c2704b8f1619d0729a0ed" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
